rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // For this example, we'll allow anyone to read and write to the database.
    // In a real application, you should secure your data.
    // See https://firebase.google.com/docs/firestore/security/get-started
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
